<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group5">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="FOURSEASONS"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".Receipt"
            android:label="Receipt"/>
        <activity android:name=".Feedback"
           android:label="Feedback"/>
        <activity android:name=".ContactUs"
            android:label="Contact Us"/>
        <activity android:name=".AboutUs"
            android:label="About Us"/>
        <activity android:name=".UpdatePassword"
            android:label="Update Password "/>
        <activity android:name=".UpdateProfile"
            android:label="Update Profile"/>
        <activity android:name=".ProfileActivity"
            android:label="Profile"/>
        <activity android:name=".PasswordActivity"
            android:label="Password"/>
        <activity android:name=".Registration"
            android:label="Registration"/>
        <activity android:name=".BookingForm"
            android:label="Booking"/>
        <activity android:name=".ViewRoom"
            android:label="View Room"/>
        <activity android:name=".SecondActivity"
            android:label="Home"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Login"/>
    </application>

</manifest>